<!DOCTYPE html>
<html>
	<head>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="copyright" content="" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta charset="utf-8">
		<title>财务状况</title>
		
		<link rel="stylesheet" type="text/css" href="css/rich_base.css"/>
		<link rel="stylesheet" type="text/css" href="css/rich_other.css"/>
		<script src="js/jquery-1.11.0.js" type="text/javascript"></script>
		<script src="js/Rich_Lee.js" type="text/javascript"></script>
		<script src="js/rich_one.js" type="text/javascript"></script>
		
	</head>
	<body style="background: #f2f2f2;">
		<header class="header_one">
			<a href="#"></a>
			<div>财务状况</div>
		</header>
		<article class="money">
			<ul class="mon_box01">
				<li>
					<div>4月不含税收入</div>
					<p><span>1800</span>(元)</p>
				</li>
				<li>
					<div>累计收入</div>
					<p><span>1800</span>(元)</p>
				</li>
				<li>
					<div>本月利润</div>
					<p><span>1800</span>(元)</p>
				</li>
				<li>
					<div>累计利润</div>
					<p><span>1800</span>(元)</p>
				</li>
				<li>
					<div>累计毛利率</div>
					<p><span>1800</span></p>
				</li>
			</ul>
			<ul class="mon_box02">
				<li>
					<div>
						4月最高可开票金额（含税价）
						<p><span>200</span>元</p>
					</div>
				</li>
				<li class="mon02_li01">
					<div>
						连续滚动12个月商贸企业超过80万元（工业企业超过50万元）将自动转为一般纳税人
					</div>
				</li>
				<li>
					<div>
						本年累计上缴增值税/营业税
						<p><span>200</span>元</p>
					</div>					
				</li>
				<li>
					<div>
						本年累计上缴所得税
						<p><span>200</span>元</p>
					</div>
				</li>				
			</ul>
			<div style="height: 40px;"></div>
			<ul class="mon_box03">
				<li class="li01">
					账面存货(不含税)
				</li>
				<li class="li02">
					<span>名称</span>
					<span>数量</span>
					<span>单价</span>
					<span>金额</span>
				</li>
				<li class="li02">
					<span>a</span>
					<span>2</span>
					<span>2元</span>
					<span>200元</span>
				</li>
				<li class="li02">
					<span>a</span>
					<span>2</span>
					<span>2元</span>
					<span>200元</span>
				</li>
				<li class="li02">
					<span>合计</span>
					<span>2</span>
					<span>2元</span>
					<span>200元</span>
				</li>
			</ul>
			<textarea class="mon_tex">请输入补充说明</textarea>
			<a class="mon_see" href="#">资金往来见附表</a>
			<a href="#" class="mon_back">返回</a>
			<div style="height: 30px;width: 100%;"></div>
		</article>
		
	</body>
</html>
